body{
    background:rgb(206, 231, 249);
    min-height:1500px;
}

.navbar-brand{
}

.home-button-icon{
    width:3rem;
}

section{
    position:relative;
    width:100%;
    height:100vh;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items:center;
}

section:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgb(206, 231, 249), transparent);
    z-index: 10;
}

section:after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(206, 231, 249));
    z-index: 10;
    mix-blend-mode: color;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#homeTitle{
    position:relative;
    margin-bottom: 20vh;
    color: #fff;
    font-size:10em;
    z-index:1;
    overflow: hidden;
}

#mountain{
    z-index: 2;
}

#latios{
    padding-left:700px;
    z-index: 2;
}