body{
    background:rgb(206, 231, 249);
    min-height:1500px;
}

header {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
}

header .logo img{
    width:3rem;
}

header ul{
    display:flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 5px;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    text-shadow: 2px 2px rgb(0, 0, 0);
}

header ul li a{
    text-decoration: none;
    padding: 6px 10px;
    color: #ffffff;
    border-radius: 20px;
}

header ul li a:hover{
    background:#ffffff;
    color:rgb(0, 0, 0);
    text-shadow: 2px 2px rgb(255, 255, 255);
}

.titleContainer{
    background-color: rgb(233, 246, 250);
    margin: 2rem auto;
    text-align: center;
    max-width: 1200px;
    width:100%;
    margin-bottom: -40px;
}

.titleContainer h1{
    font-family: 'Bebas Neue', cursive;
    text-shadow: 2px 2px rgb(100, 154, 255);
    color:rgb(53, 53, 53);
    font-size: 60px;
}

.main-container{
    margin:2rem auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
}

.card{
    margin-left: 1rem;
    margin-right: 1rem;
}

.mainContainer{
    background-color: rgb(233, 246, 250);
    display:flex;
    flex-wrap:wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon{
    border-radius: 20px;
    padding: 20px;
    text-align:center;
    margin:10px;
}

.pokemon .imgContainer{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius:80%;
    margin-top:20px;
    width: 120px;
    height:120px;
}


.pokemon .imgContainer img{
    margin-top: 10px;
    max-width: 80%;
}

.pokemon .legendaryImgContainer{
    background-color: rgba(252, 228, 214, 0.979);
    border-radius:80%;
    font: italic;
    margin-top:20px;
    width: 120px;
    height:120px;
    box-shadow: 0 0 0 5px rgb(0, 17, 255);
}

.pokemon .legendaryImgContainer img{
    margin-top: 10px;
    max-width: 80%;
}

.pokemon .info{
    font-family: 'Quicksand', sans-serif;
}

.pokemon .info .number, .name{
    font-weight: bold;
}

.pokemon .legendaryInfo{
    color:blue;
}